@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
       
        <div class="top-row px-4">

           
            <a href="/home">
                <img src="imagenes/casa.png" style="width: 32px; cursor: pointer;" />
            </a>
            <a href="/Calendario">
                <img src="imagenes/casa.png" style="width: 32px; cursor: pointer;" />
            </a>
            <a href="/logs_sistema">
                <img src="imagenes/casa.png" style="width: 32px; cursor: pointer;" />
            </a>

        </div>

        <article class="content px-4">
            @Body
        </article>

    </main>
</div>


