@inherits LayoutComponentBase

<link href="css/MainLayout.css" rel="stylesheet" />

<div class="topbar">
    <img src="/imagenes/hamburgesa.png" class="menu-icon" @onclick="ToggleMenu" />
    <a href="/">
        <img src="/imagenes/casa.png" class="home-icon" />
    </a>
    <h3 class="sistem">Sistema Gestión de Proyectos</h3>
</div>

<!-- Insertamos el componente NavMenu -->
<NavMenu MenuOpen="menuOpen" />

<div class="main-content">
    @Body
</div>

@code {
    private bool menuOpen = false;

    void ToggleMenu()
    {
        menuOpen = !menuOpen;
    }
}
