@inherits LayoutComponentBase
@inject NavigationManager NavManager

<link href="css/MainLayout.css" rel="stylesheet" />

<div class="topbar">

    @if (!EsLogin)
    {
        <!-- ZONA IZQUIERDA -->
        <div class="top-left">
            <button class="menu-btn" @onclick="ToggleMenu">
                <img src="/imagenes/hamburgesa.png" class="menu-icon" />
            </button>

            <a href="/home">
                <img src="/imagenes/casa.png" class="home-icon" />
            </a>
        </div>

        <!-- ZONA CENTRO -->
        <div class="top-center">
            <h3>Sistema Gestión de Proyectos</h3>
        </div>
    }
    else
    {
        <!-- Para el login dejamos centro vacío -->
        <div class="top-left"></div>
        <div class="top-center"></div>
    }

    <!-- ZONA DERECHA (Userbar SIEMPRE visible) -->
    <div class="top-right">
        <UserBar />
    </div>

</div>

@if (!EsLogin)
{
    <NavMenu MenuOpen="menuOpen" />
}

<div class="main-content">
    @Body
</div>

@code {
    private bool menuOpen = false;

    private bool EsLogin => NavManager.Uri.EndsWith("/");

    void ToggleMenu()
    {
        menuOpen = !menuOpen;
    }
}