.sidebar {
    position: fixed;
    top: 0;
    left: -180px;
    width: 180px;
    height: 100%;
    background-color: #e6ecf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);
}

.sidebar.active {
    left: 0;
}

.sidebar h2 {
    font-size: 16px;
    color: #0b3d91;
    margin-bottom: 10px;
}

.sidebar span {
    font-size: 13px;
    color: #004c80;
    margin-bottom: 10px;
}

.sidebar .item,
.sidebar a {
    text-decoration: none;
    color: #003366;
    padding: 6px 12px;
    width: 90%;
    border-radius: 8px;
    text-align: left;
    margin: 4px 0;
    display: block;
    font-size: 14px;
    transition: background 0.3s, color 0.3s;
}

.sidebar .active {
    background-color: #ffcc00;
    color: #333 !important;
    font-weight: bold;
}

.sidebar .item:hover,
.sidebar a:hover {
    background-color: #0b3d91;
    color: white;
}

.logout {
    margin-top: auto;
    background-color: #e63946;
    color: white !important;
    border-radius: 8px;
    padding: 6px 10px;
    text-align: center;
    width: 90%;
    margin-bottom: 70px;
}

.logout:hover {
    background-color: #ff4d4d;
}
